main .container {
  width: 90%;
}

main hr {
  opacity: 0.5;
}

main {
  background: #FAFAF9;
  padding: 80px 0;
}

main #accordions-title .container .title h1 {
  color: #0e0e0e;
  font-size: 50px;
  font-family: "Playfair Display", serif;
}

#accordion-1 .container {
  padding: 100px 30px;
}

#accordion-1 .paragraphs .paragraph:first-child .title {
  background: #f34f3f;
}

#accordion-1  .container .row .paragraphs .paragraph:first-child .title i, #accordion-1  .container .row .paragraphs .paragraph:first-child .title h6 {
  color: #ffffff;
}

#accordion-1 .container .row .paragraphs .paragraph:first-child .content {
  display: block;
}

#accordion-1 .container .row .paragraphs .paragraph  .title {
  cursor: pointer;
  border: 1px solid #eee;
  padding: 13px 20px 13px 0px;
}

#accordion-1  .container .row .paragraphs .paragraph  .title .icon {
  padding: 0px 20px;
}

#accordion-1  .container .row .paragraphs .paragraph  .title .accord-head h6 {
  text-transform: uppercase;
  letter-spacing: .1em;
  font-family: "Montserrat", sans-serif;
}

#accordion-1 .container .row .paragraphs .paragraph  .title h6,#accordion-1  .container .row .paragraphs .paragraph  .title i {
  color: #1b1b1b;
  font-size: 12px;
}

#accordion-1 .container .row .paragraphs .paragraph  .content {
  padding: 35px 0;
  display: none;
}

#accordion-1 .container .row .paragraphs .paragraph .content p {
  font-family: "Lora", serif;
  color: #6D6A6A;
  line-height: 25px;
  font-size: 14.8px;
}


#accordion-2 .container {
  padding: 100px 30px;
}

#accordion-2 .paragraphs .paragraph:first-child .title i,#accordion-2 .paragraphs .paragraph:first-child .title h6 {
   color: #f34f3f !important;
}

#accordion-2 .container .row .paragraphs .paragraph:first-child .content {
  display: block;
}

#accordion-2 .container .row .paragraphs .paragraph  .title {
  cursor: pointer;
  border: 1px solid #eee;
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 13px 20px 13px 0px;
}

#accordion-2  .container .row .paragraphs .paragraph  .title .icon {
  padding: 0px 20px;
}

#accordion-2  .container .row .paragraphs .paragraph  .title .accord-head h6 {
  text-transform: uppercase;
  letter-spacing: .1em;
  font-family: "Montserrat", sans-serif;
}

#accordion-2 .container .row .paragraphs .paragraph  .title h6,#accordion-2  .container .row .paragraphs .paragraph  .title i {
  color: #1b1b1b;
  font-size: 12px;
}

#accordion-2 .container .row .paragraphs .paragraph  .content {
  padding: 35px 0;
  display: none;
}

#accordion-2 .container .row .paragraphs .paragraph .content p {
  font-family: "Lora", serif;
  color: #6D6A6A;
  line-height: 25px;
  font-size: 14.8px;
}

footer {
  background: #fefaf3;
  padding: 80px 0 30px 0;
}

.footer-item  h6 {
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  color: #000;
  line-height: 2em;
  font-weight: 500;
  letter-spacing: 0.1em;
}

.footer-item ul {
  list-style-type: none;
}

 .footer-item ul li a {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  color: #8b8b8b;
}

 .footer-item ul li a:hover {
  color: #f34f3f;
  transition: all 0.2s ease-out;
}

 .copyright {
  font-family: "Montserrat", sans-serif;
}

 .copyright-title span {
  font-size: 12px;
  color: #AFAFAF;
}

.copyright-title span a {
  color: #6D6A6A;
}

.copyright-title span a:hover {
  color: #f34f3f;
  transition: all 0.2s ease-out;
}

 .social-medias a {
  letter-spacing: .2em;
  text-transform: uppercase;
  color: #AFAFAF;
  font-size: 10px;
}

.social-medias a:first-child {
  margin-right: 20px;
}

.social-medias a:hover {
  color: #f34f3f;
  transition: all 0.2s ease-out;
}


@media only screen and (max-width: 1024px) {
  .head .col-9 {
    display: flex;
    align-items: center;
    justify-content: end;
  }
  .navbar-icon {
    display: inline !important;
  }
}

@media only screen and (max-width: 996px) {
  header nav,
  header .search-basket {
    display: none;
  }
  header.main .logo img {
    width: 170% !important;
  }
  footer .copyright {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  #video .content {
    margin-top: 40px;
  }
  #product-tab-menu .menus .menu {
    padding: 20px !important;
  }
  #thirdTab .menu {
    padding: 20px 0px !important;
  }
}
@media only screen and (max-width:320px) {
   #video .content {
    margin-top: 40px;
  }
}

@media only screen and (max-width: 990px) and (min-width: 768px) {
  #orangeAmaryllis .content .quantityAdd {
    width: 50%;
    display: flex !important;
  }
}

@media only screen and (max-width: 768px) and (min-width: 600px) {
  #orangeAmaryllis .content .quantityAdd {
    width: 100%;
  }
  #orangeAmaryllis .content .quantity span {
    padding: 18px 0px 18px 10px !important;
  }
  #product-tab-menu .menus .menu {
    padding: 20px 3px !important;
  }
  
}

@media only screen and (max-width: 820px) {
  #products-card .productAllNav .products-navbar h6 {
    display: inline-block !important;
  }
  #products-card .productAllNav .products-navbar ul {
    display: none;
    width: 25%;
  }
  #products-card .productAllNav .filter {
    display: flex;
  }
  #products-card .productAllNav .filter .sub-filter {
    top: 48px !important;
  }
}

@media only screen and (max-width: 600px) {
  #product-tab-menu .menus .menu {
    text-align: center;
  }
  #bigSlider .title {
    width: 70% !important;
  }
}

@media only screen and (max-width: 1300px) and (min-width: 1040px) {
  #bigSlider .title {
    position: absolute;
    top: 15% !important;
    left: 100px !important;
  }
  #bigSlider .title h2 {
    padding: 0 0 10px 0 !important;
  }
  #bigSlider .title p {
    padding: 0 0 10px 0 !important;
  }
}

@media only screen and (max-width: 1040px) and (min-width: 890px) {
  #bigSlider .title {
    position: absolute;
    top: 15% !important;
    left: 100px !important;
  }
  #bigSlider .title h2 {
    padding: 0 0px 10px 0 !important;
  }
  #bigSlider .title p {
    padding: 0 0px 10px 0 !important;
  }
  
}

@media only screen and (max-width: 890px) {
  #bigSlider .title {
    position: absolute;
    top: 15% !important;
    left: 100px !important;
  }
  #bigSlider .title h2 {
    padding: 0 0px 10px 0 !important;
  }
  #bigSlider .title p {
    padding: 0 0px 10px 0 !important;
  }
}

@media only screen and (max-width: 1080px) {
  #firstTab .menus .menu {
    padding: 20px 22px !important;
  }
}

@media only screen and (max-width: 576px) {
  footer .footer-item {
    margin-left: 50px;
  }
   .join-us .searchArea .search-button button{
    font-weight: 500;
    height: 49px;
  }
   #join{
  background: url('/Join_img/JoinGirls.jpeg') no-repeat;
  background-size: 200% auto;
  overflow: hidden;
  }
  .join-us .title h3{
    font-size: 17px;
  }
  #bigSlider .title {
    position: absolute;
    top: 15% !important;
    left: 100px !important;
    width: 60%;
  }
  #bigSlider .title h2 {
    padding: 0 0px 10px 0 !important;
  }
  #bigSlider .title p {
    padding: 0 0px 10px 0 !important;
  }
  #shop-products .shopProduct:hover .image-hover {
    padding: 200px 0 !important;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 996px) {
  #orangeAmaryllis .content .quantityAdd {
    display: block !important;
  }
  header.main .logo img {
    width: 130% !important;
  }
}

@media only screen and (max-width: 1200px) {
  #orangeAmaryllis .content .add-cart {
    padding: 15px 20px !important;
  }
  header.main nav,
  header.main .search-basket {
    display: none;
  }
  header.main .col-9 {
    display: block !important;
  }
  header.main .navbar-icon {
    display: block !important;
  }
}
